<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Diagnostico</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div>
    <table class="table" border="3">
        <thead>
        <tr>
            <th>ID</th>
            <th>MODELO DE VEHICULO</th>
        </tr>
        </thead>
    </table>
</div>
<form>
    <div>
        <h3>DIAGNOSTICO</h3>
        <input type="text">
    </div>
</form>


<form>
    <div>
        <div>
            <h3>FACTURA O COSTOS</h3>
        </div>
        <div>
            <label>Piezas a cambiar</label>
            <textarea></textarea>
        </div>
        <div>
            <label>Costo de piezas a cambiar</label>
            <input type="number">
        </div>
        <div>
            <label>Costo total</label>
            <input type="number">
        </div>
    </div>
</form>

<div>
    <input type="submit" value="Atras" class="btn btn-outline-success" >
</div>

<div>
    <input type="submit" value="Guardar">
</div>


</body>
</html>