<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>REPORTE</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>
<body>
<div >

    <h1>REPORTE VEHICULAR</h1>
    <table class="table" border="3">
        <thead>
            <tr>
                <th>ID</th>
                <th>PROPIETARIO</th>
                <th>TELEFONO</th>
                <th>MODELO DE VEHICULO</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123123</td>
                <td>Miguel Angel</td>
                <td>3187834563</td>
                <td>Mazda 3/ 2017</td>
            </tr>



            <tr>
                <td>
                    <a class="btn btn-warning">EDITAR</a>
                    <a class="btn btn-danger">BORRAR</a>
                    <a class="btn btn-success">DIAGNOSTICO</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-primary">Nuevo</a>

</div>

</body>
</html>